aiohttp
aiodns
beautifulsoup4
cchardet
dataclasses
elasticsearch
pysocks
pandas>=0.23.0
aiohttp_socks<=0.4.1
schedule
geopy
fake-useragent
googletransx
git+https://github.com/psf/requests-html@026c4e5217cfc8347614148aab331d81402f596b